# Configuration for the scripts in slave/

# Credentials
access_key: "<access_key>"
secret_access_token: "<secret_access_token>"
# EC2 Region to Use
region: "us-west-2"
# SSH Key details
private_key_file: "/path/to/private/key"
keyname: "hybrid-master"
