# The production config.yml, when updated, should also be updated in the
# "config@build.clusterhq.com" note on LastPass
# This is done by running "fab saveConfig"

auth:
    user: "<web user>"
    password: "<web password>"
zulip:
    user: "<zulip user>"
    password: "<zulip password>"
    stream: "BuildBot"
    # This can be null, to have the go to /dev/null
    critical_stream: "Engineering"

##
## These are the "credentials" sections.  They supply the configuration that
## config.py and other areas of the implementation call "credentials" and they
## are generally for supplying per-cloud secrets and configuration.
##
aws:
    identifier: "<aws access key id>"
    secret_identifier: "<aws secret access key>"
    # The following tags are looked for in image metadata,
    # along with "base-name" (from below) and the latest
    # timestamp.
    image_tags:
    #    production: "true"

rackspace:
     username: "<rackspace username>"
     key: "<rackspace api key>"
     keyname: "<ssh keypair name granting access to slave vm>"
     region: "<region slug>"
     # Same as aws section.
     image_tags:
     #    production: "true"


##
## Thus ends the credentials section.
##


github:
    token: "<github api token>"
    report_status: True
buildmaster:
    host: "build.clusterhq.com"
coveralls:
    token: "<coveralls repo token>"
slaves:
    fedora:
        ami: "buildslave-fedora-20"
        slaves: 3
        instance_type: "c3.large"
    fedora-zfs-head:
        ami: "buildslave-fedora-20-zfs-head"
        slaves: 1
        instance_type: "c3.large"
    ubuntu-14.04:
        ami: "buildslave-ubuntu-14.04"
        slaves: 1
        instance_type: "c3.large"
    centos-7:
        ami: "buildslave-centos-7"
        slaves: 1
        instance_type: "c3.large"
    fedora-vagrant:
        passwords: ['<password>']
    osx:
        passwords: ['<password>']
    rackspace-blockdevice:
        openstack-image: "buildslave-centos-7-zfs-head"
# List of builders whose failures should not be reported.  Tests listed here
# will be reported in a separate section of the Buildbot web page, to indicate
# that they are expected failures.
failing_builders: []

