# The production config.yml, when updated, should also be updated in the
# "config@build.clusterhq.com" note on LastPass
# This is done by running "fab saveConfig"

auth:
    user: "<web user>"
    password: "<web password>"
zulip:
    user: "<zulip user>"
    password: "<zulip password>"
aws:
    identifier: "<aws user>"
    secret_identifier: "<aws password>"
github:
    token: "<github api token>"
    report_status: True
buildmaster:
    host: "build.clusterhq.com"
coveralls:
    token: "<coveralls repo token>"
slaves:
    fedora:
        ami: "buildslave-fedora-20"
        slaves: 3
	# In dollars per hour.
	max_spot_price: 0.10
    fedora-zfs-head:
        ami: "buildslave-fedora-20-zfs-head"
        slaves: 1
	max_spot_price: 0.10
    ubuntu-14.04:
        ami: "buildslave-ubuntu-14.04"
        slaves: 1
	max_spot_price: 0.10
    fedora-vagrant:
        passwords: ['password']
