[Unit]
Description=Fedora Vagrant Slave

[Service]
ExecStart=/home/buildslave/fedora-vagrant/start

WorkingDirectory=/home/buildslave/fedora-vagrant

User=buildslave
Group=buildslave

Restart=always

[Install]
WantedBy=multi-user.target
