[Unit]
Description=ClusterHQ buildslave ({buildslave_name})

[Service]
ExecStart=/home/buildslave/{builddir}/start

WorkingDirectory=/home/buildslave/{builddir}

User=buildslave
Group=buildslave

Restart=always

Environment="FLOCKER_FUNCTIONAL_TEST_CLOUD_CONFIG_FILE=/home/buildslave/acceptance.yml" "FLOCKER_FUNCTIONAL_TEST_CLOUD_PROVIDER=pistoncloud"

[Install]
WantedBy=multi-user.target
